<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/src/styles/main.css">
  <link rel="stylesheet" href="/src/styles/navigation.css">
</head>
<div class="nav-links">
  <a href="/Public/index.html"><i class="fas fa-home"></i> Home</a>
  <a href="/src/pages/FAQ's.html"><i class="fas fa-question-circle"></i> FAQs</a>
  <a href="/src/pages/AboutUs.html"><i class="fas fa-info-circle"></i> About Us</a>
  <a href="/src/pages/T's&C.html"><i class="fas fa-file-alt"></i> Terms</a>
  <div class="dropdown">
      <button>
          <i class="fas fa-briefcase"></i> Products
          <i class="fas fa-chevron-down"></i>
      </button>
      <div class="dropdown-content">
          <a href="/src/pages/civilservant.html"><i class="fas fa-user-tie"></i> Civil Servant</a>
          <a href="/asset-secured"><i class="fas fa-business-time"></i> Asset Secured</a>
      </div>
  </div>
  <a href="/src/pages/Contact-Us.html"><i class="fas fa-file-alt"></i> Contact Us</a>
</div>